*{
  margin: 0;
  padding: 0;
}


}

@font-face { /* Ajout d'une nouvelle police nommée Livingst */

    font-family: 'Cardinal.ttf';

    src: url('Ressources/Cardinal.ttf')format('truetype');

}

.container{
  width: 100%;
  height: 2191.200px;
  display: block;

}

header{

width: 100%;
height: 262.2px;
text-align: center;
margin: auto;
display: block;
border: 1px solid black;
background-color: rgba(0, 0, 0, 1);
}

.headcontainer{

max-width: 1250px;
max-height: 262.2px;
margin: auto;
position: relative;
border:1px solid black
}

.logo_header{
  display: inline-block;
    width: 448px;
    height: 180px;
      margin-bottom: 20px;

  }

.navbar{
display: block;
width: 1250px;
height: 57.6px;
border: 1px solid black;
}

.navbar ul{
  list-style: none;
  display: block;

}

.navbar li{
    margin-right: 3.10%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase;
    position: relative;
}

.navbar li img{

  width: 30px;
  height: 30px;
}

.navbar li a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  vertical-align: baseline;


}


.container2{


  display: block;
  position: relative;
  border: 1px solid black;
}

.portfolio{

  display: inline-block;
    background-color: #1f1f1f;
    width: 1154.600px;
    height: 5764.700px ;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    background-image: url('Ressources/background2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    padding-bottom: 60px;
    border: 1px solid black;
}

h2{
  margin-top: 2%;
  font-style: italic;
  font-size: 16px;
}



.projectzone{
  position:relative;
  width:300px;
  height:300px;
  float:left;
  margin:3%;
  list-style: none;
}


.projectzone img{
  width:100%;
  height:100%;
}

.info{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0;
  background:#000000;
  color:#ffffff;
  font-size:25px;
  font-family:sans serif;
  letter-spacing:3px;
  margin:10px;
  padding:20px;
  transition:0.3s ease-in;
}

.info:hover{
    opacity: 0.7;
    cursor:pointer;
 }

footer{
 text-align: center;
 display: inline-block;
background-color: rgba(0, 0, 0, 1);
 width: 100%;
 padding-left: 12%;
 padding-right: 12%;
 border-top: 4px solid #ffce14;
 padding-top: 30px;
}

.footcontainer{
max-width: 100%;
height: 153.6px;
margin: auto;
position: relative;

}

.containlogo{
width: 220px;
height: 97.6px;
margin-bottom: 3%;
float: left;

}

.logo_footer{
width: 100%;
height: 100%;



}

.follow{
width: 420px;
height: 74.4px;
min-width: 140px;
list-style: none;
float: right;

}

.follow ul {

margin: 0 auto;
margin-top: 24px;
border: 0;
display: inline-block;


}

.follow li{
  text-align: center;
  display: inline-block;
  margin-right: 20px;

}

.follow li a{
color: white;
display: block;
width: 50px;
height: 50px;
text-decoration: none;
background: url(/images/follow_me.png) no-repeat;
}

.copyright{
clear: both;
text-align: center;
margin-left: 25%;

}

.copyright p{
    margin-top: 20px;
    display: block;
    position: absolute;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}


.footer p, .copyright p{
  font-family: 'Futura',Helvetica,Verdana,Arial,sans-serif;
  color: #999;
  margin-bottom: 5px;

}
